.cover__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    max-width: 360px;
    text-align: center;
    margin-block-start: 0;
}
@media screen and (max-width: 767px){
    .cover__subtitle{
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}