.place{
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    max-width: calc(100% - 148px*2);
    margin: 0 auto;
}
@media screen and (max-width: 1279px){
    .place{
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
        max-width: calc(100% - 48px*2);
    }
    
}
@media screen and (max-width: 1023px){
    .place{
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        max-width: calc(100% - 24px*2);
    }
}
@media screen and (max-width: 767px){
    .place{
        grid-template-columns: 1fr;
        gap: 32px;
        max-width: 100%;
    }
}